/*to fix navi logo and search area index.html */
@media only screen and (max-width:540px) {
    .bi{
        font-size: 15px;
    }

    .form-control{
            min-width: 100px;
            margin-top: 13px; /*Logo does not take over the serch field */
    }
}

.bi{
 font-size: 25px;
}
/*search field*/
.form-control{
    min-width: 100px;
    
}



@media only screen and (min-width:651px) {
    .bi{
        font-size: 30px;
    }
    .form-control{
        min-width: 200px;
    }
    
}

@media only screen and (min-width:961px) {
    .bi{
        font-size: 40px;
    }

    .form-control{
            min-width: 400px;
    }
}




/*smart phone*/
.hakimLivs-design{
    font-family: 'Zen Dots', cursive;
    font-weight: bold;
    font-style: italic;
    text-shadow: 0px 0px 2px #FFF,4px 4px 2px rgba(0,0,0,0.3);
    color: goldenrod;
    font-size: 25px; 
    border:solid 1px rgb(87, 10, 231);
    box-shadow: 0 0 5px 5px #bce2e8, 0 0 5px 3px #bce2e8 inset;
    border-radius: 10px;
    padding: 5px;

  }

   

  /*tablet*/
  @media only screen and (min-width:651px) {

    .hakimLivs-design{
    font-family: 'Zen Dots', cursive;
    font-weight: bold;
    font-style: italic;
    text-shadow: 0px 0px 2px #FFF,4px 4px 2px rgba(0,0,0,0.3);
    color: goldenrod;
    font-size: 35px; /*chenged 40->35*/
    border:solid 1px rgb(87, 10, 231);
    box-shadow: 0 0 5px 5px #bce2e8, 0 0 5px 3px #bce2e8 inset;
    border-radius: 10px;
    padding: 5px;

  }
    
  }

  /*laptop desktop*/
  @media only screen and (min-width:961px) {

    .hakimLivs-design{
    font-family: 'Zen Dots', cursive;
    font-weight: bold;
    font-style: italic;
    text-shadow: 0px 0px 2px #FFF,4px 4px 2px rgba(0,0,0,0.3);
    color: goldenrod;
    font-size: 45px; /*55->45*/
    border:solid 1px rgb(87, 10, 231);
    box-shadow: 0 0 5px 5px #bce2e8, 0 0 5px 3px #bce2e8 inset;
    border-radius: 10px;
    padding: 5px;

  }
    
  }


  /*Galaxy S5 -360 iphone6/7/8-375*/
  @media only screen and (max-width:375px) {/*280->360->375*/

    .hakimLivs-design{
    font-family: 'Zen Dots', cursive;
    font-weight: bold;
    font-style: italic;
    text-shadow: 0px 0px 2px #FFF,4px 4px 2px rgba(0,0,0,0.3);
    color: goldenrod;
    font-size: 15px; 
    border:solid 1px rgb(87, 10, 231);
    box-shadow: 0 0 5px 5px #bce2e8, 0 0 5px 3px #bce2e8 inset;
    border-radius: 10px;
    padding: 5px;

  }
}


  /*Galaxy hold -280  iphone 5/SE-320*/
  @media only screen and (max-width:320px) { /*280->320*/

    .hakimLivs-design{
    font-family: 'Zen Dots', cursive;
    font-weight: bold;
    font-style: italic;
    text-shadow: 0px 0px 2px #FFF,4px 4px 2px rgba(0,0,0,0.3);
    color: goldenrod;
    font-size: 10px; 
    border:solid 1px rgb(87, 10, 231);
    box-shadow: 0 0 5px 5px #bce2e8, 0 0 5px 3px #bce2e8 inset;
    border-radius: 10px;
    padding: 5px;

  }
}





#sidebar{
    width: 200px;
}

#counter{
    font-size: 15px;
    font-style: normal;
}
.with-scrollbar {
    position: relative;
    height: 400px;
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    }

.footerFixed{
    min-height: 90vh;
    position: relative;
    padding-bottom:20px ;
    box-sizing: border-box;
}

footer{
    height:10vh;
    position: absolute;
    bottom: 0;
}
