#sidebar{
    width: 200px;
    height: 100%;
   /* padding-top: 150px !important;*/
    
}

#counter{
    font-size: 15px;
    font-style: normal;
}

.with-scrollbar {
    position: relative;
    height: 400px;
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    }
    


/*
footer{
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    height: 100;
}
*/

.hakimLivs-design h1{
    font-family: 'Zen Dots', cursive;
    font-weight: bold;
    font-style: italic;
    text-shadow: 0px 0px 2px #FFF,4px 4px 2px rgba(0,0,0,0.3);
    color:  #ffb342;
    border-radius: 10px;
    padding: 5px;
    

  }
  .hakimLivs-design {
    font-family: 'Zen Dots', cursive;
    font-weight: bold;
    font-style: italic;
    text-shadow: 0px 0px 2px #FFF,4px 4px 2px rgba(0,0,0,0.3);  
    color: #ffb342;
    border-radius: 10px;
    padding: 5px;
    

  }
 
  .hakimLivs-design:hover{
    text-decoration: none;
    transform:scale(1.05);
    display:inline-block;
    transition: all 0.3s ease-in-out 0.1s;
      
  }
  
  .bi{
      font-size:2.1em;
  }

  .bi:hover, .go-back:hover{
    color:  #ffcf4a;
  }

  a:hover, a:visited, a:link, a:active{
      text-decoration: none;
  }

  #counter-sidebar{
      font-size:0.5em;
  }
  /* Fotter for kassa, loggin, register, profile */    
.footerFixed{
    min-height: 100vh; /*100vh->110vh margin för iphone6/7/8 */ 
    position: relative;
    padding-bottom:0px ;/*If need to use footer(css) it should be bottom*/
    box-sizing: border-box;
    
}

.price {
    color:#ff6e42;
}

#navbar {
    background-color: #edede8;
    color:#ffb342;
}

.footer {
    background-color: #edede8;
    color:#bbbbb7;
}

.btn-primary, .button-regi, #confirmbtn {
    background-color: #ffb342;
    border-color: transparent;
}

.btn-primary:hover{
    background-color: #ffcd42;
    border-color: transparent;
}

#clear, .logout-btn {
    background-color:#ff6739;
    border-color: transparent;
}
#clear:hover, .logout-btn:hover{
    background-color:#ff8f6d;
    border-color: transparent;
}

.sidebar-icon:hover{
    color:#ffb342;
    background-color:transparent;
}


