.container-top {
	position: relative;
	margin-top: 100px;
}

   nav {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    font-family: sans-serif;
    padding: 0 5%;
    height: 100px;
    background-color: #607d8b !important;
   }
   
   nav .top-side {
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #fff;
   }

   nav .adminHtml {
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

   }
   
   nav .adminHtml li {
     list-style: none;
   }
   
   nav .adminHtml a {
    display: block;
    padding: 1em;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
   }

   #nav-toggle {
    position: absolute;
    top: -100px;
  }

  nav .icon-burger {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
  }
  nav .icon-burger .line {
    width: 30px;
    height: 5px;
    background-color: #fff;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
  }

   @media screen and (max-width:700px){

     nav .top-side {
       float: none;
       width: auto;
       justify-content: center;
     }

     nav .adminHtml {
      float: none;
      position: fixed;
      z-index: 9;
      left: 0;
      right: 0;
      top: 100px;
      bottom: 100%;
      width: auto;
      height: auto;
      flex-direction: column;
      justify-content: space-evenly;
      background-color: rgba(10, 10, 10, 0.637);
      overflow: hidden;
      box-sizing: border-box; 
      transition: all .5s ease-in-out;
     }

     nav .adminHtml a {
       font-size: 20px;
     }

     nav :checked ~ .adminHtml {
       bottom: 0;
     }
     
     nav .icon-burger {
      display: block;
    }

    nav :checked ~ .icon-burger .line:nth-child(1) {
      transform: translateY(10px) rotate(225deg);
    }

    nav :checked ~ .icon-burger .line:nth-child(3) {
      transform: translateY(-10px) rotate(-225deg);
    }

    nav :checked ~ .icon-burger .line:nth-child(2) {
      opacity: 0;
    }

   }
   