.header {
   /* position: absolute;*/
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    height: 100px;
    bottom: 0;
    padding: 0 !important;
    margin: 0 !important;
    background-color: rgba(10, 10, 10, 0.3);
  }
  
  nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 60px 60px;
  }
  
  nav h2 {
    color: white;
  }
  
  nav li {
    list-style: none;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
  }
  
  li a {
    padding: 5px;
    background-color: white;
    text-decoration: none;
  }
  